body {
  color: $zenden-secondary-color;
  background-color: $zenden-primary-color;
}

blockquote {
  padding: 5px 10px;
  color: #787878;
  background-color: #141414;
  border-left: 2px solid #787878;
  p {
    margin: 0;
    line-height: 1.4em;
  }
}

#header {
  color: $zenden-title-color;
  padding: 10px 0px;
}

#main {
  @include zen-clear();
}

#page-title {
  display:none;
}

#logo {
  xtext-align: right;
}

#logo img {
  padding-right: 20px;
}

#site-name {
  padding-left: 10px;
}

article {
  padding-bottom: 20px;
}

.node-unpublished {
  background-color: transparent;
}

.filter-wrapper {
  border: none;
}

mark.new {
  font-style: italic;
  font-weight: normal;
  font-size: 0.6em;
}

mark.updated {
  float: right;
  clear: right;
  width: 10px;
  height: 10px;
  font-size: 1px;
  background: transparent;
  color: $zenden-primary-color;
  
  &:before {
    float: right;
    color: #fff;
    content: '*';
    font-size: 10px;
  }
}

*:after + mark.updated {
  content: '*';
}

.block__title {
  font-size: 1.2em;
  font-style: italic;
  padding-bottom: 5px;
}

.region-sidebar-first {
  text-align: right;
  padding-right: 20px;
}

#block-system-main-menu {
  font-size: 1.2em;
  line-height: 1em;
  text-align: right;
}


#block-system-main-menu .block__title {
  display: none;
}

#block-system-main-menu ul.menu {
  margin-top: 0px;
}

#block-system-main-menu ul.menu li {
  list-style: none;
  padding-bottom: 15px;
}

#block-node-recent,
#block-node-recent table,
#block-node-recent tbody {
  margin-top: 5px;
  border-color: none;
  background-color: transparent;
  line-height: 1em;
}

#block-node-recent table {
  float: right;
}

#block-node-recent tr.even,
#block-node-recent tr.odd {
  background-color: transparent;
  border: none; 
  
  td {
    float: right;
    
    &.title-author {
      width: 100%;
    }
    
    &.edit, &.delete {
      margin-left: 5px;
      display: inline;
      font-size: 10px;
      line-height: 2em;
      font-style: italic;
    }
  }
}

#block-node-recent .node-title {
  font-size: 14px;
  font-style: bold;
}

#block-node-recent .node-author {
  font-size: 10px;
  line-height: 2em;
  font-style: italic;
}

.field-name-field-tags {
  font-size: 0.8em;
  line-height: 2em;
  
  .field-label {
    font-style: italic;
  }
  
  .field-label,
  .field-items,
  .field-items div {
    display: inline;
    margin-right: 4px;
  }
  
  a {
    font-weight: bold;
  }
}

ul.links.inline {
  line-height: 2em;
}